*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: blanchedalmond;
}
.container{
    position: relative;
}
.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: grey;
    border: 2px solid black;
    box-shadow: 0 0 70px rgba(0 ,0,0,0.3);
}
.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
}
.clock span b{
transform: rotate(calc(-30deg* var(--i)));
display: inline-block;
font-size: 20px;


}
.clock::before{
    content:'';
    position: absolute;
    width: 7px;
    height:7px;
    border-radius: 50%;
    background-color: black;
}
.hand{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hand i{
    position: absolute;
    background-color: var(--clr);
    width: 3px;
    height: var(--h);
    border-radius: 8px;
}